:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/* index.css atau global.css */
body {
  background-color: #000000 !important; /* Warna background gelap */
}
